/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.doc_button2{
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 15px;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  border: 1px solid blue;
  cursor: pointer;
}
.doc_button1{
  border: 1px solid orange;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 15px;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
}
.doc_button3{
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 10px;
  gap: 5px;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  border: 1px solid red;
}
@media screen and (max-width: 996px) {
  .buttons{
    flex-direction: column;
  }
}

.customBanner{
  /* background-color: red; */
}
